<div class="footer">
    <div class="desc">
        <h1>Virtual Saloon</h1>
        <p>Virtual saloon is an online virtual events 

            salon for commercials for e-meeting .<br>
            
            Virtual saloon is an online virtual events 
            
            salon for commercials for e-meeting .    </p>
    </div>
    <div class="nav">
        <a href="#" >Home</a>
        <a href="#" >Home</a>
        <a href="#" >Home</a>
        <a href="#" >Home</a>
    </div>
     <div class="foot">
         <p style="text-align: center;padding-top:5px;color: #FFFFFF;">contact@virtualsaloo.com-89784512</p>
     </div>
    
    
</div>
