
<div class="login_page" >
     
        <div class="login-box">
           
            <h4>SignIn</h4>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" > 
            <div class="example-container">
                <mat-form-field>
                    
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                    <mat-error>
                      Please provide a valid email address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput  [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="password" name="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide"   [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>
                      Please provide a valid password
                    </mat-error>
                  </mat-form-field>
               
              </div>
            
              <button mat-raised-button color="primary" id="btn" [disabled]="!loginForm.form.valid">Login</button>
        </form>
            <div class="lien">
                <a routerLink="/reset">Forgot Password ?</a> <br />
                <a routerLink="/register">Create an account</a> 
            </div>

                <div class="icon">
                    <img src="../assets/images/facebook.png" alt="facebook" >&nbsp;
                    <img src="../assets/images/google.png" alt="google" >&nbsp;
                    <img src="../assets/images/twitter.png" alt="twitter" >
                </div>
           
        
    
</div>
</div>
