<div class="reset_page" >
    <form #resetForm="ngForm" (ngSubmit)="onSubmit()">  
        <div class="reset-box">
            <h2>Forgot your password ?</h2>
            <p>If you have forgotten your password, please enter your account's email address below and click the "Reset My Password" button.You will receive an email that contains a link to set a new password.</p>
            <mat-form-field  appearance="fill">
                <input matInput type="email"  placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
           
                <button mat-raised-button id="btn1" color="primary"  [disabled]="!resetForm.form.valid">Reset My Password</button>
           <button mat-raised-button id="btn2"routerLink="/login" color="primary">Back to login page</button>
           
        </div>
    </form> 
</div>
