<div class="eventpage">
    <app-navbar></app-navbar>
    <div class="center">
    <div class="welcome-msg">
        <h2 style="text-align: center; font-weight: bold;">Welcome to Virtual Saloon </h2>
        <h3 style="text-align: center;">Send meeting requests to grow your business. Don't forget to check out "Blogs"</h3>
    </div>
    <div class="videoevent">

    </div>
         <app-meeting></app-meeting>
       <app-speakers></app-speakers>
        <app-bloc></app-bloc>
        <app-attendees></app-attendees> 

</div>
</div>
