.meetings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    margin-top: 720px;
    left: 480px;
    height: 200px;
    width: 680px;
  
    border-radius: 10px;
}
.booth{
    background-color: rgb(218, 215, 212);
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    
}
.b {
    padding-left: 150px;
}
img{
    width: 30px;
}