
<div class="register_page" >
    
    <div class="register-box">
     <h4>Create an account</h4>
     
        
            <form #registerForm="ngForm" (ngSubmit)="onSubmit()"> 
                    
                <div class="example-container">
                        <mat-form-field >
                        <input matInput type="text" placeholder="First Name" [(ngModel)]="firstname" name="firstname" required>
                       </mat-form-field>
                        <mat-form-field>
                        <input matInput type="text" placeholder="Last Name" [(ngModel)]="lastname" name="lastname" required>

                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                        <mat-form-field >
                            <mat-label>Birthdate</mat-label>
                            <input matInput [(ngModel)]="birthday" [matDatepicker]="picker" [(ngModel)]="birthday" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Phone Number" [(ngModel)]="telnumber" name="telnumber" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password"  placeholder="Password" [(ngModel)]="password" name="password" required>
                        </mat-form-field>
                        <mat-form-field  *ngIf="VisitorShow" >
                            <input matInput type="text" placeholder="Occupation" [(ngModel)]="occupation" name="occupation" required>
                        </mat-form-field>
                        <mat-form-field *ngIf="ProductOwnerShow">
                            <input matInput type="text" placeholder="Role in the company" [(ngModel)]="role" name="occupation" required>
                        </mat-form-field>
                        <mat-form-field *ngIf="SponsorShow">
                            <input matInput type="text" placeholder="Type of employee" [(ngModel)]="type" name="occupation" required>
                        </mat-form-field>
                        <mat-form-field  appearance="fill" id="select">
                            <mat-label >Connect As</mat-label>
                            <mat-select (change)="UserSelect()" [(ngModel)]="selected" name="user" required>
                              <mat-option *ngFor="let user of users" [value]="user.value" >{{user.viewValue}}</mat-option>
                           </mat-select>
                        </mat-form-field>
                        
                        <button mat-raised-button color="primary" id="btn" [disabled]="!registerForm.form.valid">Save</button>

                
                    </div>
                </form>
               
               




               
                
            
        
           
</div>

